.game-over-text {
  color: red;
  padding-top: 2%;
  margin: 0 auto;
  text-align: center;
}

.chessboard {
  height: 88vh;
  aspect-ratio: 1 / 1;
  margin: 2% auto;
  border-collapse: collapse;
}

td {
  display: inline-block;
}

.whiteSquare {
  height: 11vh;
  width: 11vh;
  background-color: blanchedalmond;
  text-align: center;
}

.blackSquare {
  height: 11vh;
  width: 11vh;
  background-color: rgb(105, 55, 21);
  text-align: center;
}

.selectedSquare {
  background-color: lightcoral;
  text-align: center;
}

.possibleSquare {
  background-color: gold;
  text-align: center;
}
