.chessboard {
  height: 80vh;
  aspect-ratio: 1 / 1;
  margin: 2% auto;
  border-collapse: collapse;
}

.whiteSquare {
  height: 10vh;
  width: 10vw;
  background-color: blanchedalmond;
  text-align: center;
}

.blackSquare {
  height: 10vh;
  width: 10vw;
  background-color: rgb(105, 55, 21);
  text-align: center;
}

.selectedSquare {
  background-color: lightcoral;
  text-align: center;
}

.possibleSquare {
  background-color: gold;
  text-align: center;
}
