.home-container {
  padding: 2%;
  text-align: center;
}

.title {
  margin-bottom: 2%;
}

.username-input {
  margin: 2%;
}

.error-text {
  color: red;
}

.color-pick {
  margin: 2% 0;
  padding: 0 30%;
}

.color-left-label {
  text-align: right;
}

.color-right-label {
  text-align: left;
}

.selected-opponent-text {
  font-size: 1.2rem;
  margin: 1%;
  margin-bottom: 4%;
}

.selected-opponent {
  color: blue;
}

.opponent-list {
  padding: 2% 20%;
}

.available-opponent {
  cursor: pointer;
}
